@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Heebo:900');
.App {
  font-family: 'Lato', sans-serif;
}

.video-background {
  margin-top: -400px;
  width: 100%; 
  min-height: 100%;
}
.searchdiv{
  position:absolute;
  margin-top:30px;
  color:#fff;
  width:100%;
  top:0;
  right:0;
}
.searchdiv h1{
  font-size: 4em;
  font-family: 'Heebo', sans-serif;
  margin:5px;
}
.MuiInputBase-input-42{
  background:#fff!important;
}
.share-btn{
  padding: 5px;
  background: #f50057;
  color: white;
  border: none;
  border-radius: 5px
}

@media only screen and (max-width: 1300px){
  .video-background {
    display:none;
  }
  .searchdiv{
    background-color:#000;
    margin-top:0px;
    padding-top:20px;
    padding-bottom:30px;
  }
  .venueList{
    margin-top: 320px!important;
  }
}
