@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Heebo:900');
.App {
  font-family: 'Lato', sans-serif;
}

.video-background {
  margin-top: -500px;
  min-width: 100vw; 
  min-height: 100vh;
}
.searchdiv{
  position:absolute;
  color:#fff;
  width:100%;
  margin-top:120px;
  top:0;
  right:0;
}
.searchdiv h1{
  font-size: 4em;
  font-family: 'Heebo', sans-serif;
  margin:5px;
}
.MuiInputBase-input-42{
  background:#fff!important;
}
